---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.10.1
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    global:
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: *secret
      volumes:
        - name: authentik-templates
          configMap:
            name: authentik-templates
      volumeMounts:
        - name: authentik-templates
          mountPath: /templates
    authentik:
      log_level: info
      avatars: "gravatar,initials"
      email:
        host: ${SECRET_MAIL_SERVER}
        port: 25
        from: "Authentik <mail@${SECRET_DOMAIN}>"
        timeout: 30
        use_tls: false
        use_ssl: false
      error_reporting:
        enable: false
        send_pii: false
      redis:
        host: dragonfly.database.svc.cluster.local
    server:
      autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 3
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
    worker:
      autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 3
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true
    geoip:
      enabled: false
      editionIds: "GeoLite2-City GeoLite2-ASN"
      updateInterval: 48
      existingSecret:
        secretName: *secret
        accountId: MAXMIND_ACCOUNT_ID
        licenseKey: MAXMIND_LICENSE_KEY
